*{
    margin:0;
    padding:0;
    color: white;
}

body {
    font-family:sans-serif;
    font-weight: bold;
    font-size:15px;
}

/* Resposive Navbar  */

a {
    text-decoration: none;
}
li {
    list-style: none;
}

header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.brand {
    width: auto;
    height: 100%;
    float: left;
    margin: 0 0 0 5%;
}

.menu {
    width: 60%;
    height: 100%;
    float: right;
}

.menu ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: -webkit-box;    
    display: -moz-box;       
    display: -ms-flexbox;    
    display: -webkit-flex;   
    display: flex;           
}

.menu ul a {
    width: 20%;
    height: inherit;
    color: #222;
    display: inline-block;
}

.menu ul a:hover {
    background-color: #222;
    color: #fff;
}

#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;
    }

    .menu ul {
        display: block;
        max-height: 0;
    	overflow: hidden;
    	-webkit-transition: max-height 0.3s;
    	-moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
    	transition: max-height 0.3s;
    }

    .menu ul a {
        text-align: left;
        width: 100%;
        height: 50px;
        /* background-color: black; */
        padding: 10px 0px 10px 5%;
    }

    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 60px;
    }

    #menuToggle:checked ~ ul {
        max-height: 350px;
    }

    .menu-icon i {
        font-size: 1.7em;
    }
    
}

.text-color-white {
    color: white;
}

.background-gray {
    background-color:gray;
}

.background-black {
    background-color: black;
}


/* main-menu start from here */

.main-menu {
  
    background-image: url(images/hero-image.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;

    padding: 20px 0;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.content {
    margin: 200px;
    text-align: center;
}

.content h1 {
    font-size: 110px;
}

.main-menu button {
    width: 200px;
    height: 60px;
    padding:15px 0;
    text-align:center;
    margin: 20px 10px;
    font-weight: bold;
    background-color: red;
    border: 0;
    justify-content: center;
    text-align: center;
}


/* Section 1 Responsive */
@media screen and (max-width: 1460px) {
    .content h1 {      
        font-size: 80px;
    }

    .logo {
        width: 75px;
    }
}   

@media screen and (max-width: 1120px) {
    .content h1 {   
        font-size: 60px;
    }

    .logo {
        width: 70px;
        cursor: pointer;
    }
}

@media screen and (max-width: 800px) {
    .content h1 {   
        font-size: 40px;
    }

    .logo {
        width: 60px;
    }

    .main-menu button {
        width: 150px;
        padding:10px 0;
        margin: 10px 10px;
    }

    .content {
        margin: 150px;
    }
}

@media screen and (max-width: 600px) {
    .content h1 {   
        font-size: 30px;
    }

    .logo {
        width: 40px;
    }
    .content {
        margin: 80px;
    }
}

@media screen and (max-width: 389px) {
    .content h1 {   
        font-size: 25px;
    }

    .logo {
        width: 40px;
    }
}




/* section 2 start from here */
.games-appstore {
    width:100%;
    background-color:#1b191d;
    background-position: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

 .games-appstore h1 {
    font-size: 60px;
}

.part-b {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 100px;
    justify-content: center;
}

.box {
    flex-basis: 20%;
}

.box img {
    margin:20px;
}


 /* games-appstore Responsive */

@media screen and (max-width: 1587px) {
    .games-appstore h1 {
        font-size: 55px;
        top: 20%;
    }
    
    .part-b {   
        top:23%;
    }
}

@media screen and (max-width: 1270px) {
    .games-appstore h1 {
        font-size: 55px;
        top: 20%;
    }    
    .part-b {  
        top:20%;
    }
}

@media screen and (max-width : 1004px){
    .part-b {
        flex-direction: column;
         top:10%;
     }
}
    
@media screen and (max-width: 663px) {
    .games-appstore h1 {
        font-size: 35px;
        top: 10%;
    }
}


/* dreams-div start form here */

.dreams-div {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dreams-div-box {
    flex-basis: 50%;
}

.dreams-div-box div {
    padding:170px 40px; 
}
.dreams-div-box div h1{
    font-size: 80px;
}

.dreams-div-box img {
    width: 100%; 
} 

.dreams-div-box button{
    background-color: red;
    width: 120px;
    height: 40px;
    border: 0;
    justify-content: center;
    text-align: center;
    margin:20px 0 0 0;
}

 /* Restonsive dreams-div */

 @media screen and (max-width: 1670px) {
    .dreams-div-box div h1{
        font-size: 70px;
    }

    .dreams-div-box div {
        padding:150px 40px; 
    }
}

@media screen and (max-width: 1483px) {
    .dreams-div-box div h1{
        font-size: 60px;
    }

    .dreams-div-box div {
        padding:120px 40px; 
    }
}

@media screen and (max-width: 1670px) {
    .dreams-div-box div h1{
        font-size: 70px;
    }
}

@media screen and (max-width: 1296px) {
    .dreams-div-box div h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 1104px) {
    .dreams-div-box div h1 {
        font-size: 80px;
    }

    .dreams-div {
        flex-direction: column;
    }
}

@media screen and (max-width: 834px) {
    .dreams-div-box div h1{
        font-size: 65px;
    }
}


@media screen and (max-width: 663px) {
    .dreams-div-box div h1 {
        font-size: 40px;
    }

    .dreams-div-box div {
        padding:70px 20px; 
    } 
}

@media screen and (max-width: 450px) {
    .dreams-div-box div h1 {
        font-size: 30px;
    }
}


 /* user-reviews Start from here */

 .user-reviews {
    display: flex;  
    flex-wrap: wrap;
    background-color: #1e1b1f;
    text-align: center;
    align-items: center;    
    padding:80px 0px;
}

.user-reviews-box {
    flex-basis: 25%;
}

.user-reviews-box:nth-of-type(2) {
    flex-basis: 50%;
}

.user-reviews-box h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.user-reviews-box h2 {
    margin-top: 15px;
    font-size: 20px;
}

.user-reviews-box a {
    font-size: 20px;
    width:200px;
    height: 200px;   
}

.padding-10px {
    padding:10px
}

/* Responsive user-reviews*/

@media screen and (max-width: 1104px) {
    .user-reviews-box h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
    .user-reviews-box h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 550px) {
    .user-reviews-box h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 456px) {
    .user-reviews-box h1 {
        font-size: 15px;
    }
}






/* robot-cave start form here */

.robot-cave {
    display: flex;  
    justify-content: center;
    align-items: center;
}

.robot-cave-box {
    flex-basis: 50%;
}

.robot-cave-box div {
    padding:200px 40px; 
}
.robot-cave-box div h1{
    font-size: 80px;
}

.robot-cave-box img {
    height: 100%;
    width: 100%;
    
} 

.robot-cave-box button{
    background-color: red;
    width: 120px;
    height: 40px;
    border: 0;
    justify-content: center;
    text-align: center;
    margin:20px 0 0 0;
}

 /* Responsive dreams-div */

 @media screen and (max-width: 1670px) {
    .robot-cave-box div h1{
        font-size: 70px;
    }
}

@media screen and (max-width: 1483px) {
    .robot-cave-box div h1{
        font-size: 60px;
    }
}

@media screen and (max-width: 1670px) {
    .robot-cave-box div h1{
        font-size: 70px;
    }
}

@media screen and (max-width: 1296px) {
    .robot-cave-box div h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 1104px) {
    .robot-cave-box div h1 {
        font-size: 80px;
    }

    .robot-cave {
        flex-direction: column;
    }
}

@media screen and (max-width: 834px) {
    .robot-cave-box div h1{
        font-size: 65px;
    }
}


@media screen and (max-width: 663px) {
    .robot-cave-box div h1 {
        font-size: 40px;
    }

    .robot-cave-box div {
        padding:70px 20px; 
    } 
}

@media screen and (max-width: 450px) {
    .robot-cave-box div h1 {
        font-size: 30px;
    }
}




 /* office-div Start from here */

.office-div {
    background-image: url(images/h2-background-img-3.jpg);   
    width: 100%;
    padding:10vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat:repeat-y;
}

.office-div-inner {
    background-image: url(images/h2-video-img-1.jpg);
    width: 70%;
    padding:10vw 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}

.office-div i {
    font-size:10vw;
}


/* last-menu Start form here */

.last-menu {
    padding: 0px 200px;
}
.bottom-menu-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:10px;
    margin: 30px;
}

.b-m-b-list {
    padding: 20px;
    width: 50px;
    flex-basis: 16%;
}

.last-menu-icon {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.last-menu-icon i {
    margin: 15px;
}

.last-menu-content {
    padding:30px 50px;
}


@media screen and (max-width: 1485px)
{
    .last-menu {
        padding: 0px 100px;
    }
}

@media screen and (max-width: 551px)
{
    .last-menu {
        padding: 0px 10px;
    }
    .last-menu-content {
        padding:10px 15px;
    }
}